<%- include('../partials/header') %>
<% const roomData = room%>
<div class="custom-container mt-5 mb-5 active">
    <h2 class="mb-4 text-center"><%=roomData.name%></h2>

    <hr>
    <div class="room-card mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src=<%=roomData.img%> class="room-image img-fluid rounded" alt="Voting Image">
                </div>
                <div class="col-md-6 room-info">
                    <div>
                        <div class="room-card-body mb-4">
                            <div class="row">
                                <div class="col-md-2 room-card-body-img">
                                    <img class="gif" src="/imgs/end.png">
                               </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <h6 style="font-weight: bold;">투표상태</h6>
                                    </div>
                                    <div class="row state-badge-container">
                                        <span class="state-badge badge bg-success text-dark">완료</span>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="room-card-body mt-4">
                            <div class="row">
                                <div class="col-md-2 room-card-body-img">
                                        <img class="gif" src="/imgs/calendar.png">
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <h6 style="font-weight: bold;">투표 기간</h6>
                                    </div>
                                    <div class="row">
                                       <h6><%=roomData.sDate%> ~ <%=roomData.eDate%></h6> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body row mt-2" style="padding: 10px; border: none;">
                            <div class="col-md-4 card-body me-1">
                                <div class="row">
                                    <div class="col-md-4 card-body-img">
                                        <img class="gif" src="/imgs/one.png">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h6 style="font-weight: bold;">후보자 수</h6>
                                        </div>
                                        <div class="row">
                                            <h6><%=roomData.Candidates.length%></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 card-body ms-1">
                                <div class="row">
                                    <div class="col-md-4 card-body-img">
                                        <img class="gif" src="/imgs/many.png">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h6 style="font-weight: bold;">유권자 수</h6>
                                        </div>
                                        <div class="row">
                                            <h6><%=roomData.voterCount%></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>    
            </div>
    </div>
    <hr>
    <div class="row" style=" padding: 10px; border: none;">
        <div class="col-md-4 card-body me-1">
            <div class="row">
                <div class="col-md-4 card-body-img">
                    <img class="gif" src="/imgs/one.png" style="width: 60px; height: auto;">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h6 style="font-weight: bold;">투표율</h6>
                    </div>
                    <div class="row">
                        <h6></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-body ms-1">
            <div class="row">
                <div class="col-md-4 card-body-img">
                    <img class="gif" src="/imgs/many.png" style="width: 60px; height: auto;">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h6 style="font-weight: bold;">투표자수</h6>
                    </div>
                    <div class="row">
                        <h6></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h5 class="text-center">개표 결과</h5>
    <div class="scrollable-div">
        <% for(let i=0;i<roomData.Candidates.length; i++){ %>
        <div class=" candidate  p-3">
            <span class="rank-circle"><%= roomData.Candidates[i].num %></span>
            <img class=" room-candidate-img col-md-1" src=<%=roomData.Candidates[i].img %> >
            <div class="flex-grow-1">
                <div class="col-md-10">
                    <strong style="font-size: 20px;"><%= roomData.Candidates[i].name %></strong><br>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger result-bar" style="width: 44.95%;"><%= roomData.Candidates[i].count %>표</div>
                </div>
            </div>
        </div>
        <%}%>
    </div>

</div>
<%- include('../partials/footer') %>
