<%- include('../partials/header') %>
<%- include('../partials/descModal') %>
<%- include('../partials/toast') %>
<div class="col-md-12 text-center">
    <h3 class="mt-3 "><%=roomState%>투표방 목록</h3>
    <div class="col-md-3 offset-md-9">
        <a href="/vote-rooms?end=false" class="btn btn-primary">진행 중인 투표방</a>
        <a href="/vote-rooms?end=true" class="btn btn-primary">종료된 투표방</a>
    </div>
    
    <div class="row">
            <% roomJsonString=JSON.parse(roomJsonString); %>
            <% const itemsPerPage = 4;%>
            <% const pageCount = Math.ceil(roomJsonString.length/itemsPerPage);%>
            <% for (let page = 0; page < pageCount; page++) { %>
                <div class="justify-content-center page <%= page === 0 ? 'active' : '' %> ">
                    <div class="row card-group">
                        <% for (let i = page * itemsPerPage; i < Math.min((page + 1) * itemsPerPage, roomJsonString.length); i++) { %>
                            <div class="col-md-3">
                                <div class="card card-margin my-3" style="width: 24rem;">
                                    <img src="<%=roomJsonString[i].img%>" class="room-list-card-img-top" onerror="handleError(this)">
                                    <div class="card-body">
                                      <h5 class="card-title"><%=roomJsonString[i].name%></h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">카테고리 : <%=roomJsonString[i].category%></li>
                                      <li class="list-group-item">시작날짜 : <%=roomJsonString[i]["sDate"]%></li>
                                      <li class="list-group-item">종료날짜 : <%=roomJsonString[i]["eDate"]%></li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="/vote-rooms/<%=roomJsonString[i].id%>" class="card-link">투표하기</a>
                                      <button class="card-link" id="card-desc" style="border: 0; background-color: white;" onclick="modalBtnClickEvent(<%=JSON.stringify(roomJsonString[i])%>)">간략히</button>
                                    </div>
                                  </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
    </div>
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination justify-content-center"> 
            <% for (let i = 0; i < pageCount; i++) { %>
                <li class="page-item <%= i === 0 ? 'active' : '' %> "><a class="secondary-btn page-link text-center " href="#"><%= i + 1 %></a></li>
            <% } %>
        </ul>
    </nav>
</div>
<script>
        window.serverData = {
            roomInfo: <%- JSON.stringify(roomInfo)%>
        }
    
    const handleError=(img) =>{
    img.onerror = null; // 무한 루프 방지
    img.src = '/imgs/vote3.jpg';
    }
  </script>
<script type="module" src="/scripts/roomList.js"></script>
<%- include('../partials/footer') %>